<footer>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="https://s.gravatar.com/avatar/a5ac2e5a7470aec34281a33726745446?s=80" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">{{ site.description }}</p>
                <ul>
                    <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="about-body-link"><img src="{{ "/img/icon-twitter.png" | prepend: site.baseurl }}" border="0" alt="Twitter" /> @{{ site.twitter_username }}</a></li>
                    <li><a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="about-body-link"><img src="{{ "/img/icon-instagram.png" | prepend: site.baseurl }}" border="0" alt="Instagram" /> {{ site.instagram_username }}</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
